In [39]:
import requests
import pandas as pd
import io

# Как стать чемпионом по получению данных из любых источников

## Этап 0: Научиться выполнять GET запросы к сайтам и получать с них данные если они лежат как файлы .CSV

In [40]:
# Используем библиотеку request для выполнения запроса к сайту.
# Например яндекс
request = requests.request('GET', 'https://www.yandex.ru')

In [44]:
# Выведем статус запроса к яндекс
# 200 означает что мы получили ответ
request.status_code

200

In [49]:
# посмотрим первые 500 символов содержания запроса.
# Этот текст ваш бразер превращает в любимую HTML страницу яндекс
request.text[0:500]

'<!DOCTYPE html><html class="i-ua_js_no i-ua_css_standart i-ua_browser_unknown i-ua_browser-engine_unknown i-ua_browser_desktop document_sticky-extra-logo_yes i-ua_platform_other" lang="ru"><head xmlns:og="http://ogp.me/ns#"><meta http-equiv=Content-Type content="text/html;charset=UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title>Яндекс</title><link rel="shortcut icon" href="//yastatic.net/iconostasis/_/8lFaTHLDzmsEZz-5XaQg9iTWZGE.png"><link rel="apple-touch-icon" href="//yastati'

## Теперь получим CSV файл и прочитаем данные из него. В нашем случае это винишко

In [50]:
# поместим ссылку в переменную
download_link = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv'

In [51]:
# используем ссылку и получим ответ от сайта
response = requests.request('GET', download_link)

In [52]:
# убдимся что все впорядке
response.status_code

200

In [53]:
# content = содержание нашего файла. Поместим их в отдельную переменную
data_from_url = response.content

In [54]:
# теперь возьпользуемся билиотекой Pandas для превращения наших данных в формат таблицы
pd.read_csv(io.StringIO(data_from_url.decode('utf-8')), delimiter=';')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

## Задание
 1. Получить любые данные из сети
 2. Загрузить данные в Pandas
 3. Вывести первые 5 строк и последние 5 строк
 4. Рассчитать медианы, средниие по любому столбцу
 5. Вывести scatterplot для любого столбца
 6. Понять где взять ключи для подключения к Zion